body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {

    padding-bottom: 5%;
}

h1 {
    font-size: 50px;
}

.main-name {

    color: orangered;
    font-size: 45px;
}

#main-div {

    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.intro-words {

    width: 60%;
    padding: 0px 5%;
}

.intro-image {

    margin-top: 5%;
    width: 40%;
}

.intro-image img {
    width: 100%;
}

.hire-me {

    text-decoration: none;
    background: linear-gradient(to left, rgb(233, 21, 57), rgb(223, 129, 145));
    padding: 8px 20px;
    border-radius: 5%;
    color: white;
}

#dream-big {

    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 20%;
}

.dream-words {

    width: 60%;
    padding: 0px 5%;
}

.dream-image {

    width: 40%;
    margin-top: 5%;
}

.dream-image img {

    width: 100%;
}

#experience {

    background: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.exp-header {

    text-align: center;
}

.box-wrapper {

    display: flex;
    padding: 0px 2%;
}

.single-box {

    width: 50%;
    padding: 0 5%;
}

.single-box h1 {

    font-size: 40px;
    color: #555;
}

.single-box h2 {

    color: rgb(34, 34, 146);
}

.single-box p {

    text-align: justify;
    color: #666;
}





