body {

    font-family:'Poppins', sans-serif;
    margin: 0;
}

section {

    padding-bottom: 10%;

}

#first-intro {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}

.first-intro {

    width: 50%;
    padding: 0 2%;
}

.intro-name {

    color: rgb(255, 68, 0);
}

.first-intro h1 {

    font-size: 2.8em;
}

.first-intro a {

    text-decoration: none;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(to right, rgb(20, 173, 219), rgb(0, 47, 255));
    padding: 5px 20px;
    border-radius: 6%;
    box-shadow: 5px 5px 15px grey;
    
}


.intro-image {

    width: 50%;
}

.intro-image img {

    width: 100%;
    margin-top: 5%;
}

#dreams {

    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.dreams-image {

    width: 50%;
}

.dreams-image img {

    width: 100%;
}

.dream-big {

    width: 50%;
    padding: 0 5%;
}

.dream-big h1 {

    text-align: left;
    font-size:1.8em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, rgb(0, 0, 204), rgb(253, 27, 27));
    margin-top: -3%;
}

.dream-big p {

    text-align: justify;
}

.dream-big a {

    text-decoration: none;
    background-image: linear-gradient(to right, rgb(0, 0, 204), rgb(233, 17, 17)) ;
    color: white;
    padding: 3% 5%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
}

#experience {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 30%;
}

.exp-header {

    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, rgb(0, 102, 255), rgb(192, 154, 0));-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}

.exp-box-container {

    display: flex;
    padding-top: 5%;
    text-align: justify;
}

.exp-box {

    width: 50%;
    padding: 2% 5%;
    box-shadow: -5px -7px 10px rgb(94, 209, 255);
}

.exp-box:first-child {

    border-bottom: 15px solid;
    border-image: linear-gradient(to right, rgb(228, 183, 4), rgb(0, 102, 255));
    border-image-slice: 1;
}

.exp-box:last-child {

    border-bottom: 15px solid;
    border-image: linear-gradient(to right, rgb(0, 102, 255),  rgb(236, 190, 6));
    border-image-slice: 1;
}


.exp-box h1 {

    text-align: left;
    font-size: 30px;
    color: #333;
}

.exp-box h2 {

    color: rgb(109, 17, 196);
    
}

.exp-box p {

    color: #333;
}

.contact-header {

    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, rgb(131, 0, 131), rgb(7, 114, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5%;
}


#contact {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box {

    width: 60%;
    border: 2px solid #999;
    padding: 5% 5%;
    box-shadow: 10px 10px 20px grey;
}

.contact-box h4,h5{

    color: #444;

}

.links a {

    padding: 2px 8px;
    border-radius: 60%;
    color: white;
    margin-right: 3%;
}


.links a:first-child {

    background: #3b5998  ;
}


.links a:nth-child(2) {

    background: #222;
}


.links a:nth-child(3) {

    background: rgb(72, 6, 255);
}


.links a:nth-child(4) {

    background: #3b5998;
}


.links a:last-child {

    background: rgb(255, 52, 1);
}


.subs-header {

    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, rgb(255, 0, 242), yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 7%;

}

#subscribe {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.subs-form {

    width: 60%;
    border: 1px solid rgb(197, 195, 195);
    padding: 8% 7%;
    box-shadow: 5px 5px 20px rgb(167, 165, 165);
}

.subs-form input {

    display: block;
    margin-bottom: 3%;
    padding: 3% 15%;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 5px;
}

.sub-submit {

    background: rgb(255, 255, 52);
    font-size: 1em;
    font-weight: 500;
}

.sub-reset {

    background: rgb(253, 43, 43);
    font-size: 1em;
    color: white;
}

.subs-form a {

    text-decoration: none;
    color: blue;
    font-weight: 600;
}

footer p{

    font-size: 1.2em;
    color: #555;
    text-align: center;
}













@media (max-width:574px) {

    .first-intro h1, .dream-big h1, .exp-box h1 {

        font-size: 1.4em;
    } 

    .first-intro h2, .exp-box h2 {

        font-size: 1em;
    }

    .first-intro p, .dream-big p, .exp-box p {

        font-size: 0.8em;
    }
    
    .exp-header,.contact-header, .subs-header {

        font-size: 1.8em;
    }

    .exp-box-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

}

@media (min-width: 575px) and (max-width:767px) {


    .first-intro h1, .dream-big h1, .exp-box h1 {

        font-size: 1.6em;
    } 

    .first-intro h2, .exp-box h2 {

        font-size: 1.2em;
    }

    .first-intro p, .dream-big p, .exp-box p {

        font-size: 1em;
    }
    
    .exp-header,.contact-header, .subs-header {

        font-size: 2em;
    }

    .exp-box-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

}